@font-face {
  font-family: "PlayfairDisplayRegular";
  font-display: swap;
  src: url("~static/fonts/regular/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("~static/fonts/regular/PlayfairDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplayBold";
  font-display: swap;
  src: url("~static/fonts/bold/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("~static/fonts/bold/PlayfairDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
