:root {
  // --bg-color: #292929;
  --bg-color: #1c1c1c;
  --bg-color-rgba: rgba(32, 32, 32, 0.9);
  --home-color-text: #333;
  --white: #e9e9e9;
  --main-red: #ff6666;
  --color-pseudo-element: #515152;
  --color-cursor: #08fdd8;
  --bg-card-color: #e9e9e9;
  // --gradient: linear-gradient(347deg, #08fdd8, #ff6666);
}

html[data-theme="light"] {
  --bg-color: #e9e9e9;
  --bg-color-rgba: rgba(233, 233, 233, 0.9);
  --home-color-text: #333;
  --white: #202020;
  --main-red: #ff6666;
  --color-pseudo-element: #858586;
  --color-cursor: #ff6666;
  --bg-card-color: #202020;
  // --gradient: linear-gradient(347deg, #ff6666, #08fdd8);
}

// Font
$mainFont: "PlayfairDisplayRegular", Helvetica, Arial, sans-serif;
$mainFontBold: "PlayfairDisplayBold", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 15px;
$mainFontWeight: 400;
$mainLineHeight: 1.5;
$mainLetterSpacing: 1.5px;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$smPhoneWidth: 567px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
