:root {
  --bg-color: #202020;
  --bg-color-rgba: rgba(32, 32, 32, 0.9);
  --home-color-text: #333;
  --white: #fff;
  --main-red: #FF6666;
  --color-pseudo-element: #515152;
  --color-cursor: #08fdd8;
  --bg-card-color: #E9E9E9;
  --gradient: linear-gradient(90deg, #08fdd8, #FF6666, #08fdd8);
}

html[data-theme="light"] {
  --bg-color: #E9E9E9;
  --bg-color-rgba: rgba(233, 233, 233, 0.9);
  --home-color-text: #333;
  --white: #000;
  --main-red: #FF6666;
  --color-pseudo-element: #858586;
  --color-cursor: #FF6666;
  --bg-card-color: #202020;
  --gradient: linear-gradient(90deg, #FF6666, #08fdd8, #FF6666);
}

// Font
$mainFont : 'PlayfairDisplayRegular',
Helvetica,
Arial,
sans-serif;


// Size
$mainFontColor : #101010;
$mainFontSize : 15px;
$mainFontWeight : 400;
$mainLineHeight : 1.5;
$mainLetterSpacing: 1.5px;

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$smPhoneWidth : 567px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

// Main color
$default-color : #ffffff;
$primary-color : #444ce0;
$success-color : #26de81;
$danger-color : #fc5c65;
$warning-color : #fed330;
$light-color : #999999;
$purple-color : #8854d0;

// Neutral Color
$neutral-primary : #303133;
$neutral-regular : #606266;
$neutral-secondary : #909399;
$neutral-placeholder : #C0C4CC;

// Border Color
$border-base : #DCDFE6;
$border-light : #E4E7ED;
$border-lighter : #EBEEF5;
$border-lightex : #F2F6FC;
